[submodule "ControlCpu.srcs/sources_1/uart"]
	path = ControlCpu.srcs/sources_1/uart
	url = https://github.com/CompuSAR/uart
[submodule "ControlCpu.srcs/simple_ddr_ctrl"]
	path = ControlCpu.srcs/simple_ddr_ctrl
	url = https://github.com/CompuSAR/simple_ddr_ctrl.git
